.mainDiv {
    display: flex;
    background-color: #282c34;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

.inputDataAndSetButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #61dafb;
    border-radius: 15px;
    padding: 20px 20px 20px 20px;
    width: 500px;
    height: auto;
    margin-right: 50px;
}

.buttonsAndScoreBoard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid #61dafb;
    border-radius: 15px;
    width: 544px;
    height: 308px;
}
